# Backend
backend/.env
backend/server
backend/tmp/

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.pnpm-store/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
go.sum

# Misc
.DS_Store
Thumbs.db
*.log
